A {
	TEXT-DECORATION: none;
}
#map {
    float: right;
    width: 80%;
    height: 100%;
}
#result {
    float: left;
    width: 250px;
}
input {
    width: 80px;
}
.center {
    text-align: center;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 20px;
}
.input {
    display: block;
    margin: 0 auto;
}