{% load staticfiles %}
<html>
<head>
    <title>Monitoring</title>
    <meta charset=utf-8" />        
    <link rel="stylesheet" href="{% static "css/leaflet.css" %}" />
    <link rel="stylesheet" href="{% static "css/areaselect.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
    <link rel="stylesheet" href="{% static "css/jquery-ui-1.10.1.custom.css" %}" />
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.0.custom.min.js' %}"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
</head>
<body>
    <div id="map"></div>
    <div id="result">
        <div id="data">
            <p class="center">Начальные значения</p>
            <p>Широта <input onChange=setMap(this.value,getCookie('lng')) type="text" class="lat"> в градусах</p>
            <p>Долгота <input onChange=setMap(getCookie('lat'),this.value) type="text" class="lon"> в градусах</p>
            <p>Радиус <input onChange=setRadius(this.value) type="text" class="radius"> в метрах</p>
            Интервал времени:
            <p>от: <input onChange=setTime('from',this.value) class='datepicker' id="from">
            до: <input onChange=setTime('to',this.value) class='datepicker' id="to"></p>
            {% if start %}
                <input type="button" value="Поиск" id='search' class="input" >
            {% endif %}
        </div>
        <div id="search">
            <p class="center">Результат поиска</p>
            {% if not start %}
                <p>Найдено {{ len }} объектов</p>
                <ul>
                {% for k in data %}
                    <li>{{ k }}</li>
                {% endfor %}
                </ul>
                <a href="javascript:history.back()" onMouseOver="window.status='Назад';return true" class="input">Назад</a>
            {% elif error %}
                <p>{{ error }}</p>
                <a href="javascript:history.back()" onMouseOver="window.status='Назад';return true" class="input">Назад</a>
            {% endif %}
        </div>
    </div>
    <script src="{% static 'js/areaselect.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript">
        setCookie('session', '{{ data }}');
    </script>
</body>
</html>
